data/
tuning_*
temp/
trash/
output_*/
dumpted/
output/
.idea
.DS_Store
tuning24/
parse_two.py
run2.py
run_channel.py
run_mdomain.py
run_ndmv2.py
run_two_channel.py
run_ndmv.py
dumped/
scripts_backup/
temp.py
